:root {
    --black: #000000;
    --grey: #3F3F3F;
    --yellow: #FFF51B;
    --white: #FFFFFF;
    --light-grey: #D9D9D9;
  }

  /* Poppins font */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
  
  body, p, h2 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  section {
    min-height: 75vh;
    padding: 50px;
  }
  .black-text {
    color: var(--black);
  }
  
  .grey-text {
    color: var(--grey);
  }

  .light-grey-text {
    color: var(--light-grey);
  }


  
  .yellow-text {
    color: var(--yellow);
  }
  
  .white-text {
    color: var(--white);
  }

  .yellow-bg {
    background-color: var(--yellow);
  }

  .black-bg {
    background-color: var(--black);
  }

/* HERO */

header#hero {
    background-image: url('images/hero_img.png');
    height: 70vh;
    display: grid;
    place-items: center;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

header#hero img {
    filter: invert(100%) sepia(2%) saturate(3192%) hue-rotate(209deg) brightness(112%) contrast(70%);
}

header#hero p {
    color: var(--light-grey);
}

/* CLOCK */

#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clock p {
    font-size: 24px;
}

#clock span {
    color: var(--yellow);
}

.clock-hand {
    width: 1px;
    height: 87px;
    background: blue;
    position: absolute;
    border-radius: 9px;
    left: 50%;
    right: 50%;
    top: 36px;
    transform-origin: bottom;
  }
  
  .clock-hand:after {
    content: "";
    width: 9px;
    height: 87px;
    background: #fff51b;
    position: absolute;
    left: -4px;
    border-radius: 9px;
    transform-origin: bottom;
  } 
  
  .clock {
    width: 246px;
    height: 246px;
    border-radius: 100%;
    /*   background: pink; */
    position: relative;
    margin-bottom: 50px;
  }

/* ABOUT */

.video {
    max-width: 100%;
    margin-top: 50px;
}


svg.arrow-animation {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .loop {
    stroke-width: 5;
    stroke: #000; /* Set the initial color of the path */
    fill: transparent;
    transition: stroke 4s linear; /* Transition to fill the stroke */
    animation-name: loopAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; Define the loop animation */
  }
  
  @keyframes loopAnimation {
    0% {
      stroke-dasharray: 1000; /* Set the initial dash length */
      stroke-dashoffset: 1000; /* Offset to make it invisible */
    }
  
    80% {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0; /* Offset to make it visible */
    }
    100% {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0; /* Offset to make it visible */
    }
  }
  
  .arrow-head {
    opacity: 0;
    animation-name: showArrow;
    animation-duration: 5s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
  }
  
  @keyframes showArrow {
    0% {
      opacity: 0;
    }
  
    39% {
      opacity: 0;
    }
  
    40% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }




/* HELP */

.patagonia-logo-svg {
    filter: invert(88%) sepia(85%) saturate(2467%) hue-rotate(338deg) brightness(107%) contrast(101%);
  max-width: 50px;
}